<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <span>Repairs</span>
    </a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">

            <a class="nav-link" href="./login">Logout</a>

        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">

                            <span data-feather="home"></span>
                            Home <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./createRepair">
                            <span data-feather="briefcase"></span>
                            Create Repair
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./editRepair">
                            <span data-feather="edit"></span>
                            Edit Repair
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>